{$SUDOKU_SITE_ADDRESS} {
	encode zstd gzip

	@health path {$SUDOKU_MOUNT_PATH}/healthz
	handle @health {
		rewrite * /healthz
		reverse_proxy 127.0.0.1:8080
	}

	handle_path {$SUDOKU_MOUNT_PATH}/api/* {
		reverse_proxy 127.0.0.1:8080
	}

	handle_path {$SUDOKU_MOUNT_PATH}/* {
		root * {$SUDOKU_UI_ROOT}
		try_files {path} /index.html
		file_server
	}
}
